@charset "utf-8";
@import url("https://font.emtech.cc/css/MiSansTC");

/* || VARIABLE 變數 */
:root {

    /* title-size 標題大小 */
    --title-size-xl: 64px;
    --title-size-lg: 48px;
    --title-size-md: 32px;
    --title-size-nm: 24px;
    --title-size-sm: 20px;
    --title-size-xs: 16px;

    /* text-size 文字大小 */
    --text-size-xl: 40px;
    --text-size-lg: 32px;
    --text-size-md: 24px;
    --text-size-nm: 16px;
    --text-size-sm: 12px;
    --text-size-xs: 10px;

    /* line-height 行高 */
    --line-height-title: 1.2;
    --line-height-text: 1.5;

    /* spacing 空間 */
    --spacing-80: 80px;
    --spacing-72: 72px;
    --spacing-64: 64px;
    --spacing-48: 48px;
    --spacing-40: 40px;
    --spacing-32: 32px;
    --spacing-24: 24px;
    --spacing-20: 20px;
    --spacing-16: 16px;
    --spacing-12: 12px;
    --spacing-08: 8px;
    --spacing-04: 4px;

    /* color-primary 主要色 */
    --color-primary-default: #6900D3;
    --color-primary-tint: #D0ACF5;
    --color-primary-dark: #380070;

    /* color-bk 灰階色 */
    --color-white: #FFFFFF;
    --color-bk-5: #F2F2F2;
    --color-bk-10: #E6E6E6;
    --color-bk-20: #CCCCCC;
    --color-bk-30: #B3B3B3;
    --color-bk-40: #999999;
    --color-bk-50: #808080;
    --color-bk-60: #666666;
    --color-bk-70: #4D4D4D;
    --color-bk-80: #333333;
    --color-bk-90: #1A1A1A;
    --color-black: #000000;

    /* color-warning 警告色 */
    --color-warning-default: #E01E0C;
    --color-warning-tint: #F5AAA3;
    --color-warning-dark: #900C00;

    /* color-success 成功色 */
    --color-success-default: #00C261;
    --color-success-tint: #9AF5C7;
    --color-success-dark: #007038;

}




/* || BASE 基礎樣式 */


*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: "MiSansTC", Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

header,
footer {
    z-index: 10;
}

::selection {
    color: #fff;
    background-color: #6900D3;
}

/* bg-img 背景影像 */
.bg-img {
    background-image: url("../img/bg-gradient.jpg");
    background-size: cover;
    background-attachment: fixed;
}

/* text-link 連結文字 */
.text-link {
    text-decoration: none;
    color: var(--color-bk-90);
    font-weight: bold;
}

.text-link:hover {
    color: var(--color-primary-tint);
}

.text-link:active {
    color: var(--color-primary-default);
}




/* || UTILITIES - 通用工具 */


/* container 主容器  */
.container {
    max-width: 1440px;
    /* min-width: 320px; */
    padding-top: 80px;
    padding-left: var(--spacing-40);
    padding-right: var(--spacing-40);
}

/* fix-margin 修正邊距重疊 */
.fix-margin {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

/* mx-auto 置中 */
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

/* img-inner 影像容器 */
.img-inner {
    overflow: hidden;
}

/* mask 遮罩 */
.mask {
    overflow: hidden;
}

/* flex-col 垂直佈局*/
.flex-col {
    display: flex;
    flex-direction: column;
}




/* || COMPONENTS 元件 */


/* navi 導航列 */
.navi {
    height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding-left: var(--spacing-80);
    padding-right: var(--spacing-80);
    z-index: 10;
    box-shadow: 0 6px 12px #0000001a;
}

.navi-logo {
    height: fit-content;
    width: auto;
}

.navi-logo img {
    height: 32px;
    width: auto;
}

.navi-ls {
    display: flex;
    /* height: 100%; */
    gap: var(--spacing-32);
}

.navi-item {
    display: flex;
    align-items: center;
    line-height: 80px;
    height: 100%;
}
.navi-button {
    display: none;
}
.navi-button-menu {
    font-size: var(--text-size-md);
}
.navi-button-close {
    display: none;
    font-size: var(--text-size-md);
}

/* kv 主視覺 */
.kv {
    /* aspect-ratio: 16/9; */
    /* width: 100%; */
    /* height: auto; */
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
}

.kv-elements {
    width: 50%;
    height: auto;
    position: relative;
}

.kv-img {
    width: 100%;
    height: auto;
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    position: sticky;
    z-index: 2;
}

.kv-intro {
    position: relative;
}

.kv-intro-title {
    font-size: var(--title-size-xl);
    line-height: var(--line-height-title);
    font-weight: bold;
    color: white;
}

.kv-intro-subtitle {
    font-size: var(--title-size-md);
    line-height: var(--line-height-title);
    font-weight: bold;
    color: white;
}

.kv-intro-text {
    font-size: var(--text-size-nm);
    line-height: var(--line-height-text);
    padding-top: var(--spacing-08);
    color: white;
}

/* entry 入口 */
.entry {
    height: calc(100vh - 160px);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: var(--spacing-16);
}

.entry-button {

    flex-grow: 1;
    /* width: calc((100% - var(--spacing-16)) / 2); */
    min-width: 288px;
    height: auto;

    padding: var(--spacing-48) var(--spacing-24);
    background-image: linear-gradient(hsla(0, 0%, 100%, 0.9), hsla(0, 0%, 100%, .45));
    border-radius: 80px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 20px 80px hsla(270, 100%, 22%, 0.25);
    text-decoration: none;

    z-index: 1;

    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    gap: var(--spacing-08);

}

.entry-button:hover {
    background-image: linear-gradient(hsla(0, 0%, 100%, .9), hsla(0, 0%, 90%, .6));
    box-shadow:
        0 8px 32px #cceeff80,
        0 0 16px 4px hsla(0, 0%, 100%, .5) inset,
        0 0 0 4px #ffffff80 inset;
}

.entry-icon {
    width: 128px;
    height: auto;
}

.entry-title {
    font-size: var(--title-size-nm);
    font-weight: bold;
    color: var(--color-bk-80);
    line-height: var(--line-height-title);
    margin-top: var(--spacing-08);
}

.entry-button:hover .entry-title {
    color: #6900D3;
}

.entry-text {
    font-size: var(--text-size-nm);
    line-height: var(--line-height-text);
    color: var(--color-bk-70);
    margin-top: var(--spacing-04);
}

.entry-button,
.entry-title {
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

/* page-intro 頁面簡介 */
.page-intro {
    color: #fff;
    text-align: center;
    padding-top: 120px;
}

.page-intro-title {
    font-size: var(--title-size-lg);
    font-weight: bold;
    line-height: 1.2;
}

.page-intro-text {
    font-size: var(--text-size-md);
    line-height: 1.5;
    margin-top: 8px;
}

/* divider 分隔線 */
.divider {
    width: 50%;
    height: 2px;
    background-color: #f2f2f2;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

/* block-title 區塊標題 */
.block-title {
    width: 100%;
    height: auto;
    /* margin-top: 40px; */
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.block-title::before {
    content: "";
    width: 100%;
    height: 1px;
    margin-right: 16px;
    background-color: #ccc;
    /* display: none; */
}

.block-title::after {
    content: "";
    width: 100%;
    height: 1px;
    margin-left: 16px;
    background-color: #ccc;
    /* display: none; */
}

/* tab 分頁 */
.tab {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border-radius: 100px;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0 6px 12px #3800701a;
    border: solid 1px #b3e4ffbf;
}

.tab-button>label {
    background-image: linear-gradient(#fff, #ffffff73);
    width: 160px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--title-size-sm);
    font-weight: bold;
    color: #1a1a1a;
    opacity: .75;
    cursor: pointer;
}

.tab-button+.tab-button>label {
    border-left: solid 2px #1a1a1a1a;
}

.tab-area {
    width: 100%;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    padding-left: var(--spacing-40);
    padding-right: var(--spacing-40);
}

.tab-content {
    margin-top: var(--spacing-40);
    margin-bottom: var(--spacing-40);
    padding-top: var(--spacing-40);
    padding-bottom: var(--spacing-40);
    padding-left: var(--spacing-40);
    padding-right: var(--spacing-40);
    border-radius: 40px;
    background-image: linear-gradient(hsla(0, 0%, 100%, .75), hsla(0, 0%, 100%, 0.5));
    border: 2px solid hsla(0, 0%, 100%, 0.9);
    box-shadow: 0 20px 80px hsla(270, 100%, 22%, 0.25), 0 0 160px 40px hsla(0, 0%, 100%, 0.75) inset;
    position: relative;
    z-index: 1;
}

.tab-content-show {
    display: block;
}

.tab-status {
    display: none;
}


.tab-status:checked+label {
    opacity: 1;
    color: #6900D3;
}




/* gallery 圖庫 */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-24);
}

.gallery-card {
    width: calc((100% - var(--spacing-24)*3) / 4);
    /* min-width: 296px; */
    height: auto;
}

.gallery-card a {
    display: block;
    height: 100%;
    text-decoration: none;
    color: #1a1a1a;
}

.gallery-card .img-inner {
    border-radius: 24px;
    border: 1px solid #f2f2f2;
    box-shadow: 0 1px 2px hsla(0, 0%, 50%, 0.102);
    position: relative;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.gallery-card a:hover .img-inner {
    box-shadow: 0 1px 2px hsla(0, 0%, 50%, 0.102), 0 2px 20px hsla(0, 0%, 100%, 0.75);
}

.gallery-card .img-inner img {
    transform: scale(1);
}

.gallery-card a:hover .img-inner img {
    transform: scale(1.1);
}

.gallery-card .img-inner::before {
    content: "";
    position: absolute;
    bottom: 12px;
    right: 12px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 8px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(255,255,255,1)'%3E%3Cpath d='M10 6V8H5V19H16V14H18V20C18 20.5523 17.5523 21 17 21H4C3.44772 21 3 20.5523 3 20V7C3 6.44772 3.44772 6 4 6H10ZM21 3V11H19L18.9999 6.413L11.2071 14.2071L9.79289 12.7929L17.5849 5H13V3H21Z'%3E%3C/path%3E%3C/svg%3E");
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #6900D3;
    box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.15);
    z-index: 1;
    opacity: 0;
}

.gallery-card a:hover .img-inner::before {
    opacity: 1;
}

.gallery-card .img-inner::after {
    content: "";
    border-radius: calc(24px - 2px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.gallery-card a:hover .img-inner::after {
    box-shadow: 0 0 0 2px #fff inset, 0 0 24px 8px hsla(0, 0%, 100%, .5) inset;
}

.gallery-card img {
    aspect-ratio: 3/2;
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.gallery-card h3 {
    font-size: var(--title-size-nm);
    font-weight: bold;
    line-height: var(--line-height-title);
    margin-top: var(--spacing-16);
}

.gallery-card a:hover h3 {
    color: #6900D3;
}

.gallery-card p {
    font-size: var(--text-size-nm);
    line-height: var(--line-height-text);
    margin-top: var(--spacing-04);
}

.gallery-card .img-inner,
.gallery-card .img-inner::after,
.gallery-card .img-inner::before,
.gallery-card .img-inner img,
.gallery-card h3 {
    transition-duration: .3s;
}

/* top-button 回頂端按鈕 */
.top-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    position: fixed;
    right: 2%;
    bottom: 4%;
    z-index: 10;
    font-size: 32px;
    text-decoration: none;
    color: #808080;
    background-color: #fff;
    border: 2px solid #f2f2f2;
    box-shadow: 0 2px 4px hsla(0, 0%, 10%, .25);
    transition-duration: .3s;
}

.top-button:hover {
    background-color: #6900D3;
    color: #fff;
    border: none;
    box-shadow: 0 2px 8px 2px hsla(0, 0%, 10%, .25);
}

/* scroll-hint 捲動提示 */
.scroll-hint {
    position: absolute;
    bottom: -120px;
    left: -5%;
    width: 80px;
    height: 80px;
}

/* footer 頁腳 */
footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 80px;
    line-height: 1;
    color: #fff;
    background-color: #1A1A1A;
    font-size: 14px;
    padding-left: var(--spacing-80);
    padding-right: var(--spacing-80);
    margin-top: var(--spacing-80);
}

footer::after {
    content: "Copyright © 2024 DesignCorner️. All rights reserved.";
}




/* || 裝飾元件 */
.star-white {
    width: auto;
    height: 30%;
    position: absolute;
    z-index: 1;
    top: 5%;
    left: 5%;
}

.star-purple {
    width: auto;
    height: 15%;
    position: absolute;
    z-index: 3;
    bottom: 20%;
    right: 15%;
}

.bg-star-tint {
    width: auto;
    height: 50%;
    position: fixed;
    top: -15%;
    left: 85%;
    z-index: 0;
}




/* || RWD 響應式設定 */


@media screen and (min-width: 1920px) {

    /* base */
    .container {
        max-width: 1920px;
    }

    /* home */
    .entry {
        gap: var(--spacing-32)
    }

    .entry-button {
        padding: var(--spacing-80) var(--spacing-40);
    }

    /* subpage */
    .tab-area {
        padding-left: var(--spacing-80);
        padding-right: var(--spacing-80);
    }

}

@media screen and (max-width: 1280px) {

    /* home */
    .entry-button {
        flex-direction: row;
        border-radius: 64px;
    }
    .entry-icon {
        width: 96px;
    }
    .entry-title {
        margin-top: 0;
    }

}

@media screen and (max-width: 1024px) {

    /* home */
    .navi-logo img {
        height: 24px;
        width: auto;
    }
    .scroll-hint {
        bottom: -80px;
    }

    /* subpage */
    .gallery {
        gap: var(--spacing-16);
    }
    .gallery-card {
        width: calc((100% - var(--spacing-16) * 2) / 3);
    }

}

@media screen and (max-width: 768px) {
   
    /* base */
    .container {
        padding-left: var(--spacing-24);
        padding-right: var(--spacing-24);
    }
    .navi {
        padding-left: var(--spacing-40);
        padding-right: var(--spacing-40);
        justify-content: space-between;
    }
    .navi-ls {
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
        transform: translateY(100%);
        background-color: var(--color-white);
        box-shadow: 0 18px 12px -12px #0000001a inset;
        overflow: hidden;
        opacity: .75;
        transition-duration: 300ms;
    }
    .navi-ls-show {
        height: 240px;
        padding-top: var(--spacing-40);
        padding-bottom: var(--spacing-40);
        opacity: 1;
        transition-duration: 300ms;
    }
    .navi-item {
        line-height: 1;
    }
    .navi-logo img {
        height: 24px;
        width: auto;
    }
    .navi-button {
        display: block;
    }
    footer {
        justify-content: center;
    }

    /* home */
    .kv {
        flex-direction: column;
    }
    .kv-elements {
        width: 70%;
        height: auto;
    }
    .kv-intro {
        text-align: center;
    }
    .scroll-hint {
        left: calc(50% - 40px);
    }
    .entry {
        height: auto;
        padding-top: var(--spacing-64);
        padding-bottom: var(--spacing-64);
    }
    .entry-button {
        padding: var(--spacing-32) var(--spacing-24);
    }
    .scroll-hint {
        bottom: -80px;
    }
    .bg-star-tint {
        width: 360px;
        height: auto;
        top: -10%;
        left: 75%;
    }
    footer {
        padding-left: var(--spacing-40);
        padding-right: var(--spacing-40);
    }

    /* subpage */
    .page-intro {
        padding-top: 80px;
    }
    .page-intro-title {
        font-size: var(--title-size-md);
    }
    .page-intro-text {
        font-size: var(--text-size-nm);
    }
    .tab-button>label {
        width: 128px;
        height: 48px;
        font-size: var(--title-size-xs);
    }
    .tab-content {
        padding: var(--spacing-32);
    }
    .gallery {
        gap: var(--spacing-20);
    }
    .gallery-card {
        width: calc((100% - var(--spacing-20)) / 2);
    }
    .gallery-card h3 {
        font-size: var(--title-size-sm);
        margin-top: var(--spacing-08);
    }
    .gallery-card p {
        font-size: var(--text-size-sm);
        margin-top: 0;
    }

}

@media screen and (max-width: 480px) {

    /* base */
    .container {
        padding-top: var(--spacing-40);
        padding-left: var(--spacing-08);
        padding-right: var(--spacing-08);
    }
    footer {
        font-size: var(--text-size-sm);
    }
    
    /* home */
    .kv-elements {
        width: 80%;
        height: auto;
    }
    .entry-button {
        border-radius: 40px;
        padding: var(--spacing-24);
    }
    .entry-icon {
        width: 80px;
        height: auto;
    }
    .scroll-hint {
        width: 40px;
        height: auto;
        left: calc(50% - 24px);
        bottom: -40px;
    }

    /* subpage */
    .tab {
        margin-top: var(--spacing-24);
        margin-bottom: 0;
    }
    .tab-button>label {
        width: 72px;
        height: 24px;
        font-size: var(--text-size-sm);
        font-weight: bold;
        opacity: .85;
    }
    .tab-button+.tab-button>label {
        border-left: solid 2px #1a1a1a1a;
    }
    .tab-area {
        padding-left: var(--spacing-16);
        padding-right: var(--spacing-16);
    }
    .tab-content {
        padding: var(--spacing-16);
        border-radius: 24px;
        margin-top: var(--spacing-24);
    }
    .gallery {
        gap: var(--spacing-16);
    }
    .gallery-card {
        width: 100%;
    }
    .tab-area footer {
        margin-top: var(--spacing-40);
    }


}

@media screen and (max-width: 375px) {
    
    /* home */
    .kv-intro-title {
        font-size: var(--title-size-lg);
    }
    .kv-intro-subtitle {
        font-size: var(--title-size-nm);
    }
    .kv-intro-text {
        font-size: var(--text-size-sm);
    }
    .entry-button {
        padding: var(--spacing-16);
        border-radius: 32px;
    }
    .entry-icon {
        width: 48px;
        height: auto;
    }
    .entry-title {
        font-size: var(--title-size-sm);
    }
    .entry-text {
        display: none;
    }

}